html
    title TODO supply a title
    body
         h1#header Servivios Si
   #container  
    ul.menu
        li
            #btn_casa.botones.main #[a(href="casa.jade") Agua]
        li
            #btn_auto.botones.main Gas
        li         
            #btn_personal.botones.main Electicidad
