extends layout
block content
  //h1= title
  h1#header Servivios Si
   #container  
    ul.menu
        li
            #btn_casa.botones.main #[a(href="casa") Casa]
        li
            #btn_auto.botones.main #[a(href="about") Auto]
        li         
            #btn_personal.botones.main #[a(href="personal") Personal]